# Puerto local en el que escuchará la API de NestJS
PORT=TU_PUERTO_AQUI

# URL del nodo RPC de Blockchain
# Desarrollo: http://localhost:8545
# Producción en Docker: http://host.docker.internal:8545
BLOCKCHAIN_RPC_URL=URL_DEL_NODO_RPC

# Dirección hexadecimal del Smart Contract una vez desplegado en la red
REGISTRO_CONTRATO_ADDRESS=0x_DIRECCION_DEL_CONTRATO_DESPLEGADO

# Endpoint de conexión con HashiCorp Vault
# Desarrollo: http://localhost:8200
# Producción en Docker: http://vault:8200
VAULT_ENDPOINT=URL_DE_VAULT

# Token raíz de autenticación para el servidor de desarrollo de Vault
VAULT_TOKEN=TU_VAULT_ROOT_TOKEN