# Puerto local en el que escuchará la API de NestJS
PORT=TU_PUERTO_AQUI

# URL del nodo RPC de Blockchain
# Desarrollo: http://localhost:8545
# Producción en Docker: http://host.docker.internal:8545
BLOCKCHAIN_RPC_URL=URL_DEL_NODO_RPC

# Dirección hexadecimal del Smart Contract una vez desplegado en la red
REGISTRO_CONTRATO_ADDRESS=0x_DIRECCION_DEL_CONTRATO_DESPLEGADO

# Endpoint de conexión con HashiCorp Vault
# Desarrollo: http://localhost:8200
# Producción en Docker: http://vault:8200
VAULT_ENDPOINT=URL_DE_VAULT

# Token raíz de autenticación para el servidor de desarrollo de Vault
VAULT_TOKEN=TU_VAULT_ROOT_TOKEN

# Umbral de trabajos en cola para pasar a modo "Diferido"
QUEUE_HIGH_LOAD_LIMIT=50

# Umbral máximo de trabajos en cola antes de rechazar peticiones 
QUEUE_EXTREME_LOAD_LIMIT=100

# Latencia simulada (ms) para la conexión a Vault en modo pruebas
VAULT_MOCK_LATENCY_MS=200

# Latencia simulada (ms) para la transacción en blockchain en modo pruebas
BLOCKCHAIN_MOCK_LATENCY_MS=2000

# Tiempo de espera estimado antes de modo diferido
WAIT_HIGH_SEC=30

# Tiempo de espera estimado antes del bloqueo total
WAIT_EXTREME_SEC=120

# Número máximo de jobs de blockchain procesados en paralelo
WORKER_CONCURRENCY=5